<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-3">
        <%= link_to 'Get recent data', fetch_data_path, class: 'btn btn-info' %>
      </div>
      <div class="col-md-3">
        <%= form_for '', url: data_selection_path do |f| %>
          <div class="form-group">
            <label for="amount">Amount</label>
            <%= f.text_field :amount, class: 'form-control', value: @amount %>
            <label for="amount">Range</label>
            <%= f.text_field :range, class: 'daterange' %><br><br>
            <%= f.submit 'Convert', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <table>
        <tr>
          <th>Date</th>
          <th>Coef</th>
          <th>Converted</th>
        </tr>
        <% @data&.each do |row| %>
          <tr>
            <td><%= row&.date %></td>
            <td><%= row.coef %></td>
            <td><%= row&.converted_currency %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
